<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>User List</title>
</head>
<body>
<h1>用户列表</h1>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Age</th>
                <th>Reg Time</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <th scope="row" th:text="${user.id}">1</th>
                <td th:text="${user.username}">nick</td>
                <td th:text="${user.password}">123456</td>
                <td th:text="${user.age}">18</td>
                <td th:text="${user.regTime}">2999/01/01 00:00:00</td>
                <td><a th:href="@{/user/toEdit(id=${user.id})}">edit</a></td>
                <td><a th:href="@{/user/delete(id=${user.id})}" onclick="return confirm('Confirm to delete this user?')">delete</a></td>
            </tr>
        </tbody>
    </table>
    <div th:include="page :: pager" th:remove="tag"></div>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/user" th:href="@{/user}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>